# Heart Disease Neural Network Classifier

Given the data of patients with differnt medical features, we can use a neural network to make prediction.

This is a project of testing building neural network on tensorflow and keras.

In [53]:
import pandas as pd
import tensorflow as tf
from tensorflow.python.keras.utils import to_categorical

In [54]:
data = pd.read_csv('data/heart.csv')

In [55]:
print(data.shape)

(303, 14)

In [56]:
print(data.head())

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   3       145   233    1        0      150      0      2.3      0
1   37    1   2       130   250    0        1      187      0      3.5      0
2   41    0   1       130   204    0        0      172      0      1.4      2
3   56    1   1       120   236    0        1      178      0      0.8      2
4   57    0   0       120   354    0        1      163      1      0.6      2

   ca  thal  target
0   0     1       1
1   0     2       1
2   0     2       1
3   0     2       1
4   0     2       1

#categorial data: sex, cp,fbs,restecg,exang,ca,thal
#categorial data that need one_hot():
    cp,ca,thal

In [62]:
a = data['cp']
a

0      3
1      2
2      1
3      1
4      0
5      0
6      1
7      1
8      2
9      2
10     0
11     2
12     1
13     3
14     3
15     2
16     2
17     3
18     0
19     3
20     0
21     2
22     0
23     2
24     3
25     1
26     2
27     2
28     2
29     2
      ..
273    0
274    0
275    0
276    0
277    1
278    1
279    0
280    0
281    0
282    2
283    0
284    0
285    0
286    3
287    1
288    0
289    0
290    0
291    0
292    0
293    2
294    0
295    0
296    0
297    0
298    0
299    3
300    0
301    0
302    1
Name: cp, Length: 303, dtype: int64

In [60]:
b = to_categorical(a)
b

array([[0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       ...,
       [1., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.]], dtype=float32)

In [64]:
newdata = data
m = 'cp'
newdata[m] = b
newdata.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,0.0,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,0.0,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,0.0,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,0.0,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,1.0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
def one_hot(data,oneHotList):
    for item in oneHotList:
        itemOneHotted = to_categorical(data[item])